<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.project.news.db.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.az.project.news.db.entity.Permission">
        <id column="PERMISSION_ID" property="permissionId"/>
        <result column="PERMISSION" property="permission"/>
    </resultMap>

    <select id="findUserPermissions" resultType="cn.az.project.news.db.entity.Permission">
        SELECT distinct PERMISSION
        FROM permission p
                 LEFT JOIN role_permission rp ON p.PERMISSION_ID = rp.PERMISSION_ID
                 LEFT JOIN role r on r.ROLE_ID = rp.ROLE_ID
                 LEFT JOIN user_role ur ON r.ROLE_ID = ur.ROLE_ID
                 LEFT JOIN user u ON ur.USER_ID = u.USER_ID
        WHERE u.USERNAME = #{username}
          AND u.STATUS = '1'
    </select>

</mapper>
