<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.replica.mall.mapper.CarouselMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.az.replica.mall.entity.Carousel">
    <id column="carousel_id" property="carouselId"/>
    <result column="carousel_url" property="carouselUrl"/>
    <result column="redirect_url" property="redirectUrl"/>
    <result column="carousel_rank" property="carouselRank"/>
    <result column="is_deleted" property="isDeleted"/>
    <result column="create_time" property="createTime"/>
    <result column="create_user" property="createUser"/>
    <result column="update_time" property="updateTime"/>
    <result column="update_user" property="updateUser"/>
  </resultMap>

</mapper>
