<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.project.test.system.mapper.ClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.az.project.test.system.entity.Class">
        <id column="CLASS_ID" property="classId"/>
        <result column="GRADE_ID" property="gradeId"/>
        <result column="CLASS_NO" property="classNo"/>
        <result column="ENTRY_YEAR" property="entryYear"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STATUS" property="status"/>
    </resultMap>

</mapper>
