<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.card.merchant.dao.MerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.az.card.merchant.entity.Merchant">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="logo_url" property="logoUrl"/>
        <result column="business_license_url" property="businessLicenseUrl"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="is_audit" property="isAudit"/>
    </resultMap>

</mapper>
