<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.project.shop.db.mapper.AdvertisementMapper">
  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.az.project.shop.db.entity.Advertisement">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="link" property="link"/>
    <result column="url" property="url"/>
    <result column="position" property="position"/>
    <result column="content" property="content"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="enabled" property="enabled"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="deleted" property="deleted"/>
  </resultMap>

</mapper>
