<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.project.test.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.az.project.test.system.entity.Role">
        <id column="ROLE_ID" property="roleId"/>
        <result column="ROLE" property="role"/>
    </resultMap>
    <select id="findUserRoles" resultType="cn.az.project.test.system.entity.Role">
        SELECT ROLE
        FROM role r
                 LEFT JOIN user_role ur on ur.ROLE_ID = r.ROLE_ID
                 LEFT JOIN user u ON ur.USER_ID = u.USER_ID
        WHERE u.LOGIN_ID = #{loginId}
          AND u.status = '1'
    </select>

</mapper>
