<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.az.project.test.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.az.project.test.system.entity.User">
        <id column="USER_ID" property="userId"/>
        <result column="LOGIN_ID" property="loginId"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="SEX" property="sex"/>
        <result column="AVATAR" property="avatar"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="LAST_LOGIN_TIME" property="lastLoginTime"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <update id="updateLoginTime">
        UPDATE user
        SET LAST_LOGIN_TIME = current_timestamp
        WHERE USER_ID = #{userId}
    </update>

</mapper>
